# Mac file finder metadata
.DS_Store
# Windows file metadata
._*
# Thumbnail image caches
Thumbs.db
ethumbs.db
# MS Office temporary file
~*
# Emacs backup file
*~
# VI backup file
*.swp
# Other backup files
*.tmp
*.bak
*.bk

# target directories
[Bb]in/
[Bb]uild/
[Oo]ut/
cmake-build-*/
.pio/

# but we'll allow prelab2.uf2 through prelab7.uf2
!build/prelab?.uf2

# Java
*.class
javadoc/

# C
*.o
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.so.*
*.dylib
*.exe
*.out

# Debugger
*.dSYM/
*.su
*.idb
*.pdb

# IDEs
.vs*/
.idea/
